@model Flow
<div class="container">
    <canvas id="canvas" width="500" height="500" ></canvas>       
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/lib/pdf.js/pdf.js"></script>
    <script src="~/lib/pdf.js/pdf.worker.js"></script>
    
    <script>
            document.addEventListener('DOMContentLoaded', function()
            {

            loadingtask =  pdfjsLib.getDocument('/forms/templateForms/@Model.Id/@Model.forms[0].fileName');
            loadingtask.promise.then(function(pdf)
            {
                pdf.getPage(1).then(function (page)            
                {
                    console.log("I have a page.!");
                    console.log(page);
                    var scale = 1;
                    var viewport = page.getViewport(1.0);

                    var canvas = document.getElementById('canvas');
                    var context = canvas.getContext('2d');
                    canvas.height = viewport.height;
                    canvas.width = viewport.width;

                    var renderContext = {
                      canvasContext: context,
                      viewport: viewport
                    };
                    renderTask = page.render(renderContext);
                    renderTask.promise.then(function (err) {
                        console.log('Page rendered');
                        console.log(err);
                    });
                });
        })
      });
    </script>



}
