@model Guid
<h3>Download</h3>
<div class="row">
    <p>Your download should begin soon, if it does not, click <a asp-action="download">here.</a></p>
    <hr>
                <!-- TODO: Add a copy to clipboard button-->
    <p>Your shareable link to these forms is: <a href="#">link123.com/link123</a> </p>  

</div>
