<!DOCTYPE html>
<html>
    <head>
        <!-- compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!--  JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
    </head>
    <body>
         <div class="container">
           <h3>Download</h3>

           <div class="row">
            <p>Your download should begin soon, if it does not, click <a href="#">here.</a></p>
            <hr>
            <!-- TODO: Add a copy to clipboard button-->
            <p>Your shareable link to these forms is: <a href="#">link123.com/link123</a> </p>  

           </div>
          </div>
    </body>
</html>