<div class="container">
    <h3>Help</h3>
    <p>For a detailed description on how to use Scryber, please view the <a href="https://github.com/productivityinterns/productivitywebapp"> README on Github</a> </p>
    <p>To report a bug or error please submit on our issue tracker on <a href="https://github.com/productivityinterns/productivitywebapp/issues/new">Github </a> </p>
</div>