@model List<Flow>   
<div class="container">
  <h1>Start a new Flow</h1>
  @foreach(Flow template in Model)
  {
<div class="row">
  <div class="col-lg-4" style="background-color:darkgrey;height: 75px;width: 100px;margin: 15px;">
      <a asp-action="initialize" asp-route-id="@template.name">@template.name</a>
  </div>  
  
  <p class="col-lg-8"style="margin:25px">@template.Description</p>
</div>
  }
      
  <hr>
  <div class="row">
    <h3>Existing Flows</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Flow</th>
            <th>Description</th>
            <th>User</th>
            <th>Date started</th>
            <th>Status</th>
            <th>Options</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Purchase</td>
            <td>New car</td>
            <td>Connor R.</td>
            <td>6/6/2019 4:45pm</td>
            <td>Completed</td>
            <td> <a href="#">Edit</a> | <a href="#">Delete</a> | <a href="#">Send</a></td>
          </tr>
          <tr>
            <td>Purchase</td>
            <td>Lunch</td>
            <td>Connor R.</td>
            <td>6/5/2019 9:15am</td>
            <td>In Progress</td>
            <td> <a href="#">Edit</a> | <a href="#">Delete</a> | <a href="#">Send</a></td>
          </tr>
          <tr>
            <td>New Hire</td>
            <td>Hiring Connor</td>
            <td>John Smith</td>
            <td>6/4/2019 2:00pm</td>
            <td>In Progress</td>
            <td> <a href="#">Edit</a> | <a href="#">Delete</a> | <a href="#">Send</a></td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
