<!DOCTYPE html>
<html>
    <head>
        <!-- compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!--  JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Enter purchase information</h1>
            </div>
            <div class="row">
                <h4>Credit card purchase?</h4>
                <form>
                    <input type="radio" name="card" value="yes" > Yes<br>
                    <input type="radio" name="card" value="no"> No<br>
                    <input type="radio" name="card" value="unknown"> Unknown<br>
                </form>
            </div>
            
            <div class="row">
                <h4>Greater than $100.00?</h4>
                <form>
                    <input type="radio" name="card" value="yes" > Yes<br>
                    <input type="radio" name="card" value="no"> No<br>
                    <input type="radio" name="card" value="unknown"> Unknown<br>
                </form>
            </div>
            <div class="row">
                <h4>Supervisor Approval required?</h4>
                <form>
                    <input type="radio" name="card" value="yes" > Yes<br>
                    <input type="radio" name="card" value="no"> No<br>
                    <input type="radio" name="card" value="unknown"> Unknown<br>
                </form>
            </div>        
            <hr>
            <div class="row">
                <h4>Purchase details</h4>
                <form>
                    First name:<br>
                    <input type="text" name="firstname">
                    <input type="checkbox">Remember<br>
                    Last name:<br>
                    <input type="text" name="lastname">
                    <input type="checkbox">Remember<br>
                    Id number:<br>
                    <input type="text" name="id">
                    <input type="checkbox">Remember<br>
                    Company Name:<br>
                    <input type="text" name="companyName">
                    <br>
                    Order number:<br>
                    <input type="text" name="id">
                    <br>
                    Requisitioner name:<br>
                    <input type="text" name="id">
                   <br>         
                </form>
                <br>
                <h4>Comments:</h4>
                <form>
                    <textarea rows="10" cols="50"></textarea>
                </form>
                <button name="generateBtn">Generate</button>
            </div>
        </div>
    </body>
</html>