<!DOCTYPE html>

<html>

    <head>

        <!-- compiled and minified CSS -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        <!--  JavaScript -->

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        

    </head>

    <body>

        <div class="container">

            <div class="row">

                <h1>Enter Applicant information</h1>

            </div>


                <h4>Applicant Information</h4>

                <form>

                    First name:<br>

                    <input type="text" name="firstname">

                    <input type="checkbox">Remember<br>

                    Last name:<br>

                    <input type="text" name="lastname">

                    <input type="checkbox">Remember<br>

                    Middle Initial:<br>

                    <input type="text" name="middleinit">

                    <input type="checkbox">Remember<br>

                   Phone:<br>

                    <input type="text" name="address">

                    <br>

                   E-Mail:<br>

                    <input type="text" name="address">

                    <br>

		    Social Security:<br>

		    <input type="text" name="socialSec">

		    <br><br>
		
		   
                    Address:<br>

                    <input type="text" name="address">

                   <br>	
	
                   City:<br>

                    <input type="text" name="address">

                    <br>

                   State:<br>

                    <input type="text" name="address">

                    <br>

                   Zipcode:<br>

                    <input type="text" name="address">

                   <br><br>

                    Date Available:<br>

                    <input type="text" name="schoolName">

		    <br>

                    Desired Salary:<br>

                    <input type="text" name="id">
		    
		    <br>

                   Position applied for:<br>

                    <input type="text" name="address">

                    <br>

                   <br>         

                </form>
		<div class="row">

                <h4>Is the Applicant a US citizen required?</h4>

                <form>

                    <input type="radio" name="card" value="yes" > Yes<br>

                    <input type="radio" name="card" value="no"> No<br>

                    <input type="radio" name="card" value="unknown"> Unknown<br>

                </form>

            </div>     
		<div class="row">

                <h4>Is the Applicant Allowed to work in the US</h4>

                <form>

                    <input type="radio" name="card" value="yes" > Yes<br>

                    <input type="radio" name="card" value="no"> No<br>

                    <input type="radio" name="card" value="unknown"> Unknown<br>

                </form><br>

                   If yes, when?:<br>

                    <input type="text" name="address"><br><br>


	<h4>Has the Applicant Committed a felony</h4>

                <form>

                    <input type="radio" name="card" value="yes" > Yes<br>

                    <input type="radio" name="card" value="no"> No<br>

                    <input type="radio" name="card" value="unknown"> Unknown<br>

                </form>
	<h4>Has the Applicant worked for this company previously</h4>

                <form>

                    <input type="radio" name="card" value="yes" > Yes<br>

                    <input type="radio" name="card" value="no"> No<br>

                    <input type="radio" name="card" value="unknown"> Unknown<br>

                </form>

            </div>       

                <br>

                <h4>Comments:</h4>

                <form>

                    <textarea rows="10" cols="50"></textarea>

                </form><br>

                <button name="generateBtn">Generate</button>

            </div>

        </div>

    </body>

</html