<!DOCTYPE html>
<html>
    <head>
        <!-- compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!--  JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
    </head>
    <body>
         <div class="container">
            <h1>Start a new Flow</h1>
            <div class="row">
            <div class="col-lg-4" style="background-color:darkgrey;height: 75px;width: 100px;margin: 15px;">
                <a href="#">Aquisition</a>
            </div>  
            
            <p class="col-lg-8"style="margin:25px">Here is a sample description of stuff and things.</p>
        </div>
        <div class="row">
            <div class="col-lg-4" style="background-color:darkgrey;height: 75px;width: 100px;margin: 15px;">
                <a href="#">New Hire</a>
            </div>  
            <p class="col-lg-8"style="margin:25px">Here is a sample description of stuff and things.</p>
        </div>    
            <hr>
            <div class="row">
                <table class="table">
                        <thead>
                          <tr>
                            <th>Flow</th>
                            <th>Description</th>
                            <th>User</th>
                            <th>Date started</th>
                            <th>Status</th>
                            <th>Options</th>
                                
                          </tr>
                        </thead>
                            <tbody>
                              <tr>
                                <td>Purchase</td>
                                <td>New car</td>
                                <td>Connor R.</td>
                                <td>6/6/2019 4:45pm</td>
                                <td>Completed</td>
                                <td> <a href="#">Edit</a> | <a href="#">Delete</a> | <a href="#">Send</a></td>
                              </tr>
                              <tr>
                                <td>Purchase</td>
                                <td>Lunch</td>
                                <td>Connor R.</td>
                                <td>6/5/2019 9:15am</td>
                                <td>In Progress</td>
                                <td> <a href="#">Edit</a> | <a href="#">Delete</a> | <a href="#">Send</a></td>
                              </tr>
                              <tr>
                                <td>New Hire</td>
                                <td>Hiring Connor</td>
                                <td>John Smith</td>
                                <td>6/4/2019 2:00pm</td>
                                <td>In Progress</td>
                                <td> <a href="#">Edit</a> | <a href="#">Delete</a> | <a href="#">Send</a></td>
                              </tr>
                            </tbody>
                          </table>
            </div>
          </div>
    </body>
</html>